@model IEnumerable<ShoppingCartSystem.ViewModels.ShoppingCartViewModel>

@{
    ViewBag.Title = "ShoppingCart";
    decimal TotalPrice = 0;
}



    <table class="table table-bordered >
        @foreach (var item in Model)
        {
            TotalPrice += item.Total;
            <tr>
                <td>@item.ItemName</td>
                <td>@item.UnitePrice</td>
                <td>@item.Quntitay</td>
                <td>@item.Total</td>
                <td><img src="@Url.Content(@item.ImagePath)" style="width:30px;height:30px" /></td>
                <td><input type="submit" class="btn btn-danger" value="Remove From Cart" /></td>
            </tr>

        }
        <tr>
            <td colspan="6" style="text-align:right"><h3>Total Price :@TotalPrice</h3></td>
        </tr>
        <tr>
            @using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <td style="text-align:center" colspan="6"><input type="submit" class="btn btn-primary" value="Save Order" /></td>
            }

        </tr>
    </table>
}


